body{
    background: #5e5e5e;
}

header, section, footer{
    max-width: 800px;
    background: #ffffff;
    margin: auto;
    margin-bottom: 10px;
}

header{
    text-align: center;
}

footer{
    text-align: center;
}

.aviso{
    padding: 10px;
    background: maroon;
    border: 2px solid #ffffff;
    margin: 10px;
    color: #ffffff;
}