.idea/
/alura/php-doctrine-introducao-ao-mapeamento-objeto-relacional/aula01-criando-o-entityManager/vendor/
/alura/php-doctrine-introducao-ao-mapeamento-objeto-relacional/aula02-persistindo-a-primeira-entidade/vendor/
/b7web/php-nivel1/modulo07-padrao-mvc-model-view-controller/aula01-mvc-instalacao/vendor/
