.widget {
	margin-bottom:20px;
}
.sugestaoitem {
	height:40px;
	line-height: 40px;
}
.post_area {
	border-bottom:1px solid #e2e2dd;
}
.post_area textarea {
	height:100px;
	border: 1px solid #e2e2dd;
	margin-bottom: 5px;
}
.postitem {
	border-bottom:1px solid #e2e2dd;
	padding-top:10px;
	padding-bottom:10px;
}
.postitem_texto {
	background-color:#FAF9F7;
	padding:10px;
}
.postitem_comentario {
	display:none;
	margin-top: 10px;
}
.postitem_comentario .btn-comentar {
	margin-top: 5px;
}
.postitem_info {
	padding: 3px 3px;
}

.postitem_comentarios {
	border-left: 0;
	border-right: 0;
	margin: 0;
}
