RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /cursos/backend/b7web/phpzp/modulo-17-php-jedi/aula04-aula04-composer/index.php?url=$1 [QSA,L]