RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /cursos/backend/b7web/phpzp/modulo-16-php-super-avancado/aula06-estrutura-mvc-controllers/index.php?url=$1 [QSA,L]