RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /cursos/backend/b7web/phpzp/modulo-16-php-super-avancado/aula32-projeto-paginacao-no-mvc/index.php?url=$1 [QSA,L]