RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /cursos/backend/b7web/phpzp/modulo-16-php-super-avancado/aula08-estrutura-mvc-views/index.php?url=$1 [QSA,L]